.add-button{
    border-radius: 15px;
    background-color: #7203a2;
    color:#ececec;
    font-size: 2rem;
    padding: 10px  10%;
    box-shadow: 2px 2px 6px grey;
}
button{
    cursor:pointer;
    border:none;
    font:inherit;
}
.add-button:hover{
    background-color: #490ea7;  
}
