button{
    font-weight: normal;
    font-size: 1.7em;
    box-shadow: 1px 1px 3px black;
    border:none;
    border-radius: 10px;

    margin: 5px;
    padding: 5px;
    min-width: 100px;
    min-height: 70px;
    cursor:pointer;
}
button:hover{
    background-color: grey;
}

.ready-button{
    background-color:  #1fff1f ;
    
}

.del-button{
    background-color: #ff0000;
}

.ready-button:hover{
    background-color:  #1ce31c ;
}

.del-button:hover{
    background-color: #e20000;
}

.svg-icon {
    height: 1.5em;
    width: 1.5em;
}

@media only screen and (max-width: 300px) {
  .svg-icon {
    height: 0.7em;
    width: 0.7em;
  }
  button{
    margin: 5px;
    padding: 5px;
    min-width: 50px;
    min-height: 35px;
    cursor:pointer;
  }
}